<header>
    <nav>
        <ul class="list">
            {{#if google_id}}
                <li class="item-list"><a href="/profile">Profile</a></li>
                <li class="item-list"><a href="/myfiles">My files</a></li>
                <li class="item-list"><a href="/allfiles">Public files</a></li>
            {{/if}}
                <li class="item-list"><a href="/">Main page</a></li>
        </ul>
    </nav>
</header>
