<h1 class="profile-welcome">Welcome, <b>{{user.name}}</b></h1>
<p class="profile-email">Email: {{user.email}}</p>
<img class="profile-picture" src="{{user.picture}}" alt="">
<a class="btn btn-success profile-logout"href="/logout">Sign out</a>
